/* CSS del módulo 'ComboZona' */

.provincias_select {
	border:1px solid #CCCCCC;
        margin:0;
        padding:0;
	font-family:"trebuchet MS";
	font-size:11px;
	color:#666666;
        width: 100%;
}

.item_ajax_select {
        border:1px solid #CCCCCC;
        margin:0;
        padding:0;
	font-family:"trebuchet MS";
	font-size:11px;
	color:#666666;
        width: 100%;
}

.combo_zonal_label {
        display:block;
	margin-top:10px;
	margin-bottom:4px;

	font-family:"trebuchet MS";
	font-size:11px;
	color:#666666;
}

.combo_zonal_button {
        display:block;
        margin-top:10px;
	margin-bottom:10px;
        border:1px solid #CCCCCC;margin:0;padding:0;
	font-family:"trebuchet MS";
	font-size:11px;
	color:#666666;
}