/* CSS del módulo 'ZLogin' */

.zonalactual_div {
    position: relative;
    top: -43px;
    left: 12px;
}

.zonalactual_div p {
    color: white;
    font-family: fantasy;
    font: bold;
    font-size: 12px;
    text-transform: uppercase;
    margin-right: 13px;
    position: absolute;
}
