<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>Content Manager Utilities - Zonales</title>
    <link href="/css/ZoneStyle.css" rel="stylesheet" type="text/css" />
    <link type="text/css" rel="stylesheet" href="/css/content.css">
    <link type="text/css" rel="stylesheet" href="/css/global.css"> 
</head>

<body>
    <div id="container"/>
    <div id="header">
        <div id="logo">
            <a href="/CMUtils"><img alt="Zonales" src="/images/logo.gif"></a>
        </div>
        <div style="float:right;margin-top:18px">
	         <h1 style="margin-top: 0.7em; text-align: center">Content Manager Tools</h1>
	     </div>
	     <!--
        <a style="float:right" href="index.php">Gestión de Extracciones</a>
        <br>
        <a style="float:right" href="crud_crawl_configs.php">Gestión de Fuentes de Extracción</a>
        <br>
        <a style="float:right" href="http://192.168.0.2:8080/ZCrawlScheduler/listJobs">Lista de extracciones programadas en Scheduler</a>
        <br>
        <a style="float:right" href="fbutils.php">Facebook Utilities</a>
        <br>
        <a style="float:right" href="twutils.php">Twitter Utilities</a>
        -->
    </div>
    <div class="clearfix" id="wrapper">
        <div id="view_content">
            <div id="search_div">
                <table class="advanced_search">
                    <tbody>
                        <tr><td colspan="2"><h2 style="margin-top: 0.7em;">Tools</h2></td></tr>
                        <tr><td colspan="2"><a href="/CMUtils/zoneList">Gestión de Zonas</a></td></tr>
                        <tr><td colspan="2"><a href="/CMUtils/zoneTypeList">Gestión de Tipos de Zonas</a></td></tr>
                        <tr><td colspan="2"><a href="/CMUtils/tagList">Gestión de Tags</a></td></tr>
                        <tr><td colspan="2"><a href="/CMUtils/tagTypeList">Gestión de Tipos de Tags</a></td></tr>
                    </tbody>
                </table>
            </div>
            <div id="resultado" style="width: 100%; float: left; height: 100px; background-repeat: no-repeat;"></div>
            <div id="postsContainer"></div>
        </div>
        <div id="resultslist_content" style="float: right;">
        </div>
    </div>
</body>