<html>
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <title>Content Manager Utilities - Zonales</title>
        <link href="/css/ZoneStyle.css" rel="stylesheet" type="text/css" />
        <link type="text/css" rel="stylesheet" href="/css/content.css">
        <link type="text/css" rel="stylesheet" href="/css/global.css">
 		  <script type="text/javascript" src="/js/mootools.js"></script>
		  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
        <script type="text/javascript" src="/js/viewutils.js"></script>
		  <script type="text/javascript" src="/js/placeTypeEdit.js"></script>
       
    </head>
    <body>
        <div id="container">
            <div id="header">
                 <div id="logo">
                     <a href="/CMUtils"><img alt="Zonales" src="/images/logo.gif"></a>
                 </div>
                <div style="float:right;margin-top:18px">
				     		<h1 style="margin-top: 0.7em; text-align: center">Edición de Tipos de Places</h1>
			        		<a id="backAnchor" style="float:right">Volver</a>
			        </div>
            </div>

            <div class="clearfix" id="wrapper">
                <div id="container_content">
                    <table class="advanced_search" style="width: 100%">
                        <tbody>
                            <tr><td colspan="4"><h2 style="margin-top: 0.7em;">Datos</h2></td></tr>
                            <tr>
                                <td class="label"><label>Nombre</label></td>
                                <td class="input"><input type="text" id="nombre" value=""></td>
                            </tr>
                            <tr>
                                <td class="label"><label>Descripción</label></td>
                                <td class="input"><input type="text" id="description" value=""></td>
                            </tr>
                            <tr>
                                <td class="label"><label>Padres</label></td>
                                <td class="input">
                                    <select id="parent">
                                    </select>
                                    <img alt="Agregar Padre" style="float: right" src="/images/addIcon.gif" title="Agregar Padre" onclick="addParent($('parent').value)">
                                </td>
                            </tr>
                            <tr>
                            	<td colspan="2">
                            		<div id="parentsDiv"/>
                            	</td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <input id="guardarButton" value="Guardar" type="button" onclick="savePlaceType();">
                                    <input id="publicarButton" value="Publicar" type="button" onclick="">
				    							<input id="despublicarButton" value="Despublicar" type="button" onclick="">
				    							<input id="nuevoButton" value="Nuevo" type="button" onclick="window.location.href = 'placeTypeEdit'">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="table_content">
                </div>
            </div>
        </div>
    </body>
</html>