<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>Content Manager Utilities - Zonales</title>
    <link href="/css/ZoneStyle.css" rel="stylesheet" type="text/css" />
    <link type="text/css" rel="stylesheet" href="/css/content.css">
    <link type="text/css" rel="stylesheet" href="/css/global.css">
    <script type="text/javascript" src="/js/mootools.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
	 <script type="text/javascript" src="/js/viewutils.js"></script>     
	 <script type="text/javascript" src="/js/placeList.js"></script> 
</head>

<body>
    <div id="container"/>
    <div id="header">
        <div id="logo">
            <a href="/CMUtils"><img alt="Zonales" src="/images/logo.gif"></a>
        </div>
        <div style="float:right;margin-top:18px">
	     		<h1 style="margin-top: 0.7em; text-align: center">Búsqueda de Places</h1>
        		<a style="float:right" href="/CMUtils">Volver</a>
        </div>
    </div>
    <div class="clearfix" id="wrapper">
        <div id="view_content">
            <div id="search_div">
                <table class="advanced_search">
                    <tbody>
                        <tr><td colspan="2"><h2 style="margin-top: 0.7em;">Criterios</h2></td></tr>
                        <tr>
                            <td width="35%" class="label"><label>Place</label></td>
                            <td>
                                <div>
                                    <input id="placeNameFilter" onblur="if(this.getNext() != null) this.getNext().empty();" onkeyup="populateOptions(event, this, false, places);">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td width="35%" class="label"><label>Zone</label></td>
                            <td>
                                <div>
                                    <input id="placeZoneFilter" onblur="if(this.getNext() != null) this.getNext().empty();" onkeyup="populateOptions(event, this, false, zones);">
                                </div>
                            </td>
                        </tr>
                        <tr>
                             <td class="label"><label>Tipo</label></td>
                             <td class="input">
                                 <select id="tipo">
                                 	<option value="all">Todos</option>
                                 </select>
                             </td>
                         </tr>
                        <tr>
                            <td width="35%" class="label"><label>Estado</label></td>
                            <td>
                                <select id="placeStateFilter">
                                    <option value="all">Todos</option>
                                    <option value="generated">Generado</option>
                                    <option value="published">Publicado</option>
                                    <option value="unpublished">Despublicado</option>
                                    <option value="void">Anulado</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="input">
                                <input type="button" style="width: 33%; float: left;" value="Buscar" onclick="searchPlaces();">
                                <input id="newButton" type="button" style="width: 33%;  float: left;" value="Nuevo">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="resultado" style="width: 100%; float: left; height: 100px; background-repeat: no-repeat;"></div>
            <div id="postsContainer"></div>
        </div>
        <div id="resultslist_content" style="float: right;">
        </div>
    </div>
</body>