# $Id$

# nombre componente
dist.com_zonales.file=com_zonales
dist.com_content.file=com_content
 
# nombre modulo
dist.mod_jxcomments.file=mod_jxcomments
dist.mod_seleccionazonal.file=mod_seleccionazonal
dist.mod_zonalactual.file=mod_zonalactual
dist.mod_mapazonales.file=mod_mapazonales
dist.mod_mapainicio.file=mod_mapainicio
dist.mod_menuzonales.file=mod_menuzonales
dist.mod_zbanners.file=mod_zbanners
dist.plg_zonalescontent.file=plg_zonalescontent
