# $Id$

# nombre componente
dist.com_zonales.file=com_zonales
dist.com_reservas.file=com_reservas
dist.com_content.file=com_content
dist.com_customproperties.file=com_customproperties
dist.com_eqzonales.file=com_eqzonales
dist.com_aapu.file=com_aapu
dist.com_alias.file=com_alias
dist.com_user.file=com_user
dist.com_alias.file=com_alias
dist.com_eqzonales.file=com_eqzonales
dist.com_aardvertiser.file=com_aardvertiser
dist.com_jwf.file=com_jwf

# nombre modulo
dist.mod_jxcomments.file=mod_jxcomments
dist.mod_seleccionazonal.file=mod_seleccionazonal
dist.mod_zonalactual.file=mod_zonalactual
dist.mod_mapazonales.file=mod_mapazonales
dist.mod_mapainicio.file=mod_mapainicio
dist.mod_menuzonales.file=mod_menuzonales
dist.mod_zbanners.file=mod_zbanners
dist.mod_soycorresponsal.file=mod_soycorresponsal
dist.mod_eq.file=mod_eq
dist.mod_zlogin.file=mod_zlogin
dist.mod_pending.file=mod_pending
dist.mod_sessioninfo.file=mod_sessioninfo
dist.mod_zcloud.file=mod_zcloud
dist.mod_alias.file=mod_alias
dist.mod_message.file=mod_message
dist.mod_eq.file=mod_eq
dist.mod_message.file=mod_message
dist.mod_pending.file=mod_pending
dist.mod_sessioninfo.file=mod_sessioninfo
dist.mod_zcloud.file=mod_zcloud
dist.mod_zlogin.file=mod_zlogin
dist.mod_lavozdelvecino.file=mod_lavozdelvecino

# nombre plugin
dist.plg_zonalescontent.file=plg_zonalescontent
dist.plg_solrsearch.file=plg_solrsearch
dist.plg_externallogin.file=plg_externallogin
dist.plg_authproxy.file=plg_authproxy
dist.plg_eqevents.file=plg_eqevents
dist.plg_authproxy.file=plg_authproxy
dist.plg_externallogin.file=plg_externallogin
dist.plg_cptags.file=plg_cptags
dist.plg_cptags_btn.file=plg_cptags_btn
dist.plg_autotagging.file=plg_autotagging
dist.plg_like.file=plg_like
dist.plg_denunciar.file=plg_denunciar

dist.lib_g2p-utils.file=lib_g2p-utils
inst.mod_jxcomments.file=inst_mod_jxcomments