# nombre componente
dist.com_zonales.file=com_zonales
dist.com_content.file=com_content
 
# nombre modulo
dist.mod_jxcomments.file=mod_jxcomments
dist.mod_seleccionazonal.file=mod_seleccionazonal
dist.mod_zonalactual.file=mod_zonalactual
dist.mod_mapazonales.file=mod_mapazonales
