@charset "utf-8";
/* CSS modules */

#nota {
    font-family:Arial, Helvetica, sans-serif;
    font-size:11px;
    margin: 3px;
}

#nota select{
    font-family:Georgia, "Times New Roman", Times, serif;
    font-size:12px;
    margin: 7px;
    width: 95%;
}

#nota label{
    font-family:Georgia, "Times New Roman", Times, serif;
    font-size:12px;
    margin: 7px;
    font-weight:bold;
}

#module-loginRight{
    padding-bottom:5px;}

#module-loginRight p{
    margin-bottom:10px;
    margin-top:10px;
    font-size:11px;
}

#module-loginRight p.small{
    font-size:11px;
    font-family:Arial, Helvetica, sans-serif;
    color:#666666;
    margin-bottom:5px;
}

#module-loginRight input,
#module-loginRight select{
    border:1px solid #CCCCCC;
    font-family:Tahoma, Arial, Helvetica, sans-serif;
    color:#666666;
    font-size:12px;
    width: 100%;
}

#lavoz {
    background:#F2F2F2;
}

#lavoz .img1 p, #lavoz .img1{
    border:#CCCCCC 1px solid;
    margin-bottom:12px;
}

#lavoz .img1 img{
    min-width:260px;
    max-width:260px;
    max-height:350px;
    background:#FFFFFF;
    margin:0px;
    /*padding:5px;
    height:100%;*/
}

#lavoz h2 a{
    font-family:Georgia, "Times New Roman", Times, serif;
    font-size:14px;
    font-weight:bold;
    color:#666666;
    margin-bottom:8px;
    text-decoration:none;
}

#lavoz p{
    font-family:Georgia, "Times New Roman", Times, serif;
    font-size:11px;
    font-weight:normal;
    color:#666666;
    line-height:15px;
    text-align:left;
}

#otherContent p {
    font-family:Georgia, "Times New Roman", Times, serif;
    font-size:12px;
    font-weight:normal;
    color:#666666;
    line-height:18px;
    text-align:left;
    margin-bottom:10px;
}

/* Soy Corresponsal */
.moduletable_formVecinos_bodyDiv p{
    padding:10px;
}

.moduletable_formVecinos {
    background-image:url("../images/title_corresponsal.jpg") !important;
    background-repeat: no-repeat !important;
}

#title_soycorresponsal{
    text-indent:-400px;
    overflow:hidden;
}
/* la voz del vecino */
#title_lavozdelvecino{
    background-image:url("../images/title_vecino.jpg") !important;
    background-repeat: no-repeat !important;
    text-indent:-400px;
    overflow:hidden;
    height:30px;
    padding:0px !important;
}

/* zonales login */
#zlogin{
    background:#F2F2F2;
    margin-bottom:10px;
    width:160px;
}
#zlogin h1 {
    background-image:url("../images/title_login.jpg") !important;
    background-repeat: no-repeat !important;
    text-indent:-400px;
    overflow:hidden;
    height:30px;
}

#zlogin #registeruser {
    color:#97c200;
    font-weight:bold;
}

#zlogin #formzlogin_submit{
    background:#97c200;
    color:#FFF;
    width:100%;
    font-weight:bold;
    border:none;
    padding:2px;
    font-size:11px;
}
.wrapper-attach{
    margin-top:10px;	
}

.wrapper-attach p{
    color:#CCCCCC !important;
    background:#F1F2F3;
    text-align:right;
    display:block;
    margin-bottom:10px;

    font-family:Arial, Helvetica, sans-serif !important;
    font-size:10px !important;
    text-transform:uppercase;

    text-align:right !important;
    padding:2px;
}

.imageAttach{
    display:inline;

    font-size:0;
    margin-right:5px;
}

.imageAttach img{
    padding:5px;
    background:#F1F2F3;
}

.moduletable_formEq, .moduletable_formVecinos, .moduletable_lavozdelvecino {
    margin-bottom:10px;
    background:#F1F2F3;
    font-size:10px;
}
/* La Voz */
#mod_soycorresponsal_main_div{
    background:#F2F2F2;
}

.moduletable_menueditor {
    margin-bottom:10px;
}

#oEditor{
    font-family:Georgia, "Times New Roman", Times, serif;
    font-size:11px;
    font-weight:normal;
    color:#666666;
    line-height:14px;	
    text-align:left;
    background:#F8F8F1;
    padding:13px;
    height:100%;
}

#oEditor input {
    margin:3px;
}


#toogle_editor_vecino{
    font-family:Arial,Helvetica,sans-serif;
    font-size:12px;
    font-weight:bold;
    color:#666666 !important;
    line-height:14px;
    cursor: pointer;
    padding-bottom:2px;
    padding-left:5px !important;
    width:80%;
    margin-bottom:12px;
    margin-left:20px;
}

#editor_vecino {
}

#corresponal label span{
    font-family:Georgia, "Times New Roman", Times, serif;
    font-size:12px;
    margin: 7px;
    font-weight:bold;
}

#recaptcha_widget div {
    margin:7px;
}

.ajax-loading {
    background: url("../images/ajax-loader1.gif") no-repeat transparent;
    padding-left: 50px;
    margin: 10px;
    text-transform: uppercase;
}

#userRegTable {
    margin-left:5px;
}
#userRegTable tr td{
    text-align:left;
    padding:2px;
    width:100%;
}


#registrationform input{
    text-align:left;
}

#selectZonalDiv select {
    font-family:Georgia, "Times New Roman", Times, serif;
    font-size:12px;
    margin: 7px;
    width: 55%;
}


#registrationform label {
    width: 120px;
    text-align: left;
    height: 1.3em;
    padding-right: 2em;
    float:left;
}

#birthdate{
    width:85px;
}

#registrationform h1{
    font-size: 16px;
    margin-bottom: 20px; 
    border-bottom: 1px dotted gray;
}

#regsubmit {
    font-size:12px;
}

#cargando_info{
    font-weight:bold;
    text-align:center;
    color:#555555;
}

form#login-form input#formlogin_submit.button {
    margin-top: 10px;
}

div#zlogin.moduletable_zlogin form#login-form {
    padding-right: 10px; 
    padding-left: 10px; 
    padding-bottom: 5px;
}