<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>ZCrawlScheduler</display-name>
    <servlet>
        <servlet-name>PublishCrawl</servlet-name>
        <servlet-class>org.zonales.scheduler.services.PublishCrawl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PublishCrawl</servlet-name>
        <url-pattern>/publishCrawl</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
