<?xml version="1.0" encoding="utf-8"?>
<root>
    <params>
        <param
                name="taganalizerurl"
                type="text"
                label="Tag Analizer Url"
                description="Please enter the url where the tag analizer server is located"
        />
    </params>
</root>
