/* CSS main _violeta */

/* celeste #009CC9 */
/* verde #97bf0d */

#top{
	background:url(../images/_violeta/bg_header.jpg);
	background-repeat:no-repeat;
}

#top #logoTop{
	float:left;
	margin-left:10px;
	width:242px;
	height:105px;
	background:none;
}

#logoBottom{
	background:url(../images/_violeta/logo_bottom.gif);
}

.blog_more strong{
	color:#009CC9;
}

/* glassmenu */

#navigation ul li a:hover{
	color:#FFFFFF !important;
	background:#009CC9 !important;
}

#sublinks{
	background:#009CC9 !important;
}	

/* mod soy corresponsal */

.moduletable_formVecinos h1{
	background:#009CC9;
}

.moduletable_formVecinos #formVecinos #siguiente{
	background:url(../images/_violeta/bot_next.gif);
	display:block;
	overflow:hidden;
	width:82px !important;
	height:18px;
	text-indent:90px;
	cursor:pointer;
	margin-top:10px;
}

/* mod ultimos comentarios */

.moduletable h3{
	background:#009CC9;
}

.comments-list a{
	color:#009CC9;
}

/* yoosearch */

.moduletable_yooSearch{
	background:url(../images/_violeta/base_buscador.jpg);

}

.resultbox .resultbox-bg .search-results h3.search-header{ /* título de la caja */
	background:#009CC9;
}

.resultbox-bg{
	background:#97bf0d;
}

.resultbox .resultbox-bl .resultbox-br .resultbox-b{
	background:#97bf0d;
}
.resultbox .resultbox-bg .search-results .results h3{ /* titulos */
	color:#009CC9;
}