@charset "utf-8";

#container_content_full{
    clear:both;
}

#container_content {
    width:45%;
    float: left;
    margin-right: 25px;
}

#results_content {
    width: 45%;
    height: 100%;
    float: left;
    margin-left: 25px;
}

#list_content {
    width:45%;
    float: left;
    margin-right: 25px;
}

#view_content {    
    float: left;
    margin-right: 25px;
	width:40%;
}

#resultslist_content {
	width: 55%;
	float: left;
}

#edit_content{
    width: 45%;
    height: 100%;
    float: left;
    margin-left: 25px;
}

#resultlist_content{    
    height: 100%;
    float: left;
    margin-left: 25px;
}

#gram_content{
    width: 45%;
    height: 100%;
    float: left;
    margin-left: 25px;
}

#resultsgram_content{
    width: 45%;
    height: 100%;
    float: right;
    margin-left: 25px;
}
#results {

}

#content_list{
    float: left;
    width: 175px;
}

#content_list ul{
    line-height: 20px;
    list-style-type: none;
}

#content_list li{
    display: inline;
}

#content_list a{
    display: block;
    width: auto;
    line-height: 17px;
    padding: .1em .8em .2em 1em;
    margin-bottom: 2px;
    text-decoration: underline;
}

#content_list a.selected{
    font-weight:bold;
}

#content{
    position: relative;
    clear: none;
    margin-left: 200px;
    padding: 0 0 20px 23px;
    height: auto;
    border-left:1px solid #ddd;
}

.trend_container {
    float:left;
    margin-right:10px;
    padding-bottom:20px;
    width:32%;
}

.trend_container .number {
    float:left;
    width:34px;
    text-align:right;
}

.trend_container .trend {
    margin:0 0 5px 0;
}

.boxy {
    -moz-border-radius-bottomleft:0.5em;
    -moz-border-radius-bottomright:0.5em;
    -moz-border-radius-topleft:0.5em;
    -moz-border-radius-topright:0.5em;
    -webkit-border-radius: 0.5em;
    background:#e8e8e8 none repeat scroll 0 0;
    height:auto !important;
    margin:0 0 1em;
    padding:0.75em 0.25em 0.75em 1em;
}

.msg {
    -moz-border-radius:4px;
    -webkit-border-radius: 4px;
    background:orange none repeat scroll 0 0;
    height:auto !important;
    margin:0 0 1em;
    padding:5px 10px;
    color:#FFF;
}


#fdbk_overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000000;
    position: absolute; }

#fdbk_screen {
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    position: absolute;
    background-color: black;
    opacity: 0.45;
    -moz-opacity: 0.45;
    filter: alpha(opacity=45); }

#fdbk_container {
    width: 680px;
    height: 640px;
    margin: 0 auto;
    z-index: 2;
    position: relative; }
#fdbk_container iframe {
    width: 658px;
    height: 100%;
    margin: 20px;
    background: transparent; }
#fdbk_container iframe.loading {
    background: transparent url(http://s3.amazonaws.com/getsatisfaction.com/images/fb_loading.png) no-repeat; }

a#fdbk_tab {
    top: 25%;
    left: 0;
    width: 42px;
    height: 102px;
    color: white;
    cursor: pointer;
    text-indent: -100000px;
    overflow: hidden;
    position: fixed;
    z-index: 100000;
    margin-left: -7px;
    background-image: url(http://s3.amazonaws.com/getsatisfaction.com/images/feedback_trans_tab.png);
    _position: absolute;
    _background-image: url(http://s3.amazonaws.com/getsatisfaction.com/images/feedback_tab_ie6.png); }
a#fdbk_tab:hover {
    margin-left: -4px; }

a.fdbk_tab_right {
    right: 0 !important;
    left: auto !important;
    margin-right: 0 !important;
    margin-left: auto !important;
    width: 35px !important; }
a.fdbk_tab_right:hover {
    width: 38px !important;
    margin-right: 0 !important;
    margin-left: auto !important; }

a.fdbk_tab_bottom {
    top: auto !important;
    bottom: 0 !important;
    left: 20% !important;
    height: 38px !important;
    width: 102px !important;
    background-position: 0 -102px !important;
    margin-bottom: -7px !important;
    margin-left: auto !important; }
a.fdbk_tab_bottom:hover {
    margin-bottom: -4px !important;
    margin-left: auto !important; }

a.fdbk_tab_hidden {
    display: none !important; }

a#fdbk_close {
    position: absolute;
    cursor: pointer;
    outline: none;
    top: 0;
    left: 0;
    z-index: 4;
    width: 42px;
    height: 42px;
    overflow: hidden;
    background-image: url(http://s3.amazonaws.com/getsatisfaction.com/images/feedback-close.png);
    _background: none;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://s3.amazonaws.com/getsatisfaction.com/images/feedback-close.png', sizingMethod='crop'); }
a#fdbk_close:hover {
    background-position: -42px 0; }

.feedback_tab_on embed, .feedback_tab_on select, .feedback_tab_on object {
    visibility: hidden;
}

.loading {
    background: url("loading.gif") no-repeat scroll 0 0 #FFFFFF;
}

.resultTable {
    border: 1px solid #CCCCCC;
    border-spacing: 0;
    border-collapse: separate;
    width: 100%;
}

.resultTable td {
    border: 1px solid;
    padding: 5px;
    text-align: center;
}

.configTable {
    width: 100%;
    border: 1px solid #CCCCCC;
    border-spacing: 0;
    border-collapse: separate;
    width: 100%;
}

.configTable td {
    width: 33%;
    text-align: center;
}

div#wrapper p {
	margin: 0px;
	text-align: justify;
}

div#wrapper p.selected {
	background: lightgrey;
	cursor: pointer;
}

.tableRowHeader {
	background-color: #58ACFA;
}

.tableRow {
	background-color: #E0E0F8;
	font-size: small;
}

.generateButtonDiv {
	float: right;
}

.textExtractionDiv {
	float: left;
}

div.suggestions {
	position: absolute; 
	background: none repeat scroll 0% 0% grey;
}