<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UFT-8" />
<title>Zonales.com</title>

<link rel="stylesheet" type="text/css" href="css/reset.css">
<link rel="stylesheet" type="text/css" href="css/main.css">
<link rel="stylesheet" type="text/css" href="css/modules.css">

</head>

<body>

<div id="wrapper-web">

<div id="topBar">
	<p><img src="images/eq-ico.gif" alt="Eq" style="margin-right:5px;" />equializador de interes | cargar una noticia - <strong>ubicación:</strong> <select name="localidad"><option>Alte. Brown</option></select><select name="municipio"><option>Longchamps</option></select></p>
</div><!-- #topBar -->

	<div id="header">
		<div id="logo-header">
			<img src="images/logo_header.jpg" alt="Zonales.com.ar" />
			<div style="position:absolute; top:70px; margin-left:214px; background:#555555"><p style="text-transform:uppercase; font-family:'Courier New', Courier, monospace; color:#FFFFFF; padding:2px;">Longchamps</p></div>
		</div><!-- end #logo-head -->
		
		<div id="header-contentRight">
			<div id="wrapper-search">
				<div id="share">
					<p>Jueves 05 de Agosto de 2010 | 14:45</p>
					
					<p style="text-transform:uppercase;"><strong>Compartinos:</strong> FB | TW | @</p>
          
				</div>
				<div id="module-searchTop">
					<input class="text" /><input type="submit" value="Buscar" class="button" />
				</div><!-- #module-searchTop -->
			</div><!-- #wrapper-search -->
			
			<div id="banner-botonTop">
				<img src="images/banners/botontop-sony.jpg" alt="SonyStyle Argentina" />
			</div>
			
			<div class="clear"></div>
						
		</div><!-- end #header-contentRight -->
		
		<div class="clear"></div>
		
	<div id="topNav">
		<p>home | noticias | actualidad | política | deportes | economía | información general</p> 
	</div><!-- end #topNav -->
	
	</div><!-- #header -->
	
	<div id="wrapper-body">
		
		<div id="wrapper-content">
			<div id="mainContent">
				<h2>Lorem ipsum dolor sit amet</h2>
        
        <div class="img1">
        	<p><img src="images/notas/01h.jpg" alt="Imagen 1" /></p>
          <p class="pie"><strong>Lorem ipsum dolor sit amet</strong>, consectetur adipiscing elit. Cras sit amet laoreet sapien. Proin malesuada dui sed justo pulvinar a dapibus arcu semper.</p>
        </div><!-- end .img1 -->
        
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sit amet laoreet sapien. Proin malesuada dui sed justo pulvinar a dapibus arcu semper. Nulla dolor odio, ultricies ac commodo vel, tempor at est. Suspendisse condimentum, tortor ac convallis condimentum, quam turpis faucibus ante, vitae congue neque felis sed arcu. Sed rhoncus iaculis aliquam.</p>
			
			<div class="splitter"></div>
			
			<h2>Suspendisse vel faucibus ipsum</h2>
			
      <div class="img2">
      	<p><img src="images/notas/02v.jpg" alt="Imagen 2" /></p>
      	<p class="pie"><strong>Lorem ipsum dolor sit amet</strong>, consectetur adipiscing elit. Cras sit amet laoreet sapien. Proin malesuada dui sed justo pulvinar a dapibus arcu semper.</p>
        <div class="clear"></div>
      </div><!-- end .img2 -->
      
      <div class="clear"></div>
      
			<p>Suspendisse vel faucibus ipsum. Donec vestibulum euismod nulla eget rutrum. Sed sed erat nulla, vitae fringilla nisi. Proin consequat ultricies neque sit amet posuere. Nulla sem velit, facilisis quis imperdiet ut, dictum id neque. Praesent feugiat sapien et ipsum bibendum feugiat. Nullam vestibulum lacinia erat at cursus. Vestibulum massa urna, sagittis vitae dignissim eu, pellentesque non urna. Suspendisse at turpis eu lectus consequat cursus.</p>
			
			<div class="splitter"></div>
			
				<img src="images/banners/full-psp.jpg" alt="PSP" />
			
			<div class="splitter"></div>
			
			<h2>Nulla bibendum accumsan diam vitae sollicitudin</h2>
			<p>Nulla bibendum accumsan diam vitae sollicitudin. Morbi id dapibus lectus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque sed enim eget augue bibendum gravida non sed quam. Curabitur et sodales enim. Donec vel ligula libero. Donec feugiat ligula vitae nulla molestie commodo.</p>
			
			</div><!-- end #mainContent -->
			
			<div id="otherContent">
      
      	<div id="lavoz">
        
        	<h3>La voz del vecino</h3>
        
        	<div style="background:#F1F2F3; padding:10px;">
          
        	<h2>Donec imperdiet ultrices</h2>
          <p>Donec imperdiet ultrices felis vitae volutpat. Donec quis porta urna. Donec aliquet risus congue sem consequat vestibulum nec eget massa. Cras vitae velit at nisi dapibus imperdiet. Praesent at odio neque, et ornare sem.</p>
        	
          </div>
        
        	<div class="splitter"></div>

        	<h2>Donec imperdiet ultrices</h2>
          <p>Donec imperdiet ultrices felis vitae volutpat. Donec quis porta urna. Donec aliquet risus congue sem consequat vestibulum nec eget massa. Cras vitae velit at nisi dapibus imperdiet. Praesent at odio neque, et ornare sem.</p>
          
          <div class="wrapper-attach">
          	
            <p>Material adjunto</p>
            
            <div class="imageAttach">
              <img src="images/lavoz/image01.jpg" />
            </div><!-- .imageAttach -->
            
            <div class="imageAttach">
              <img src="images/lavoz/image02.jpg" />
            </div><!-- .imageAttach -->
            
            <div class="imageAttach">
              <img src="images/lavoz/image03.jpg" />
            </div><!-- .imageAttach -->
					</div><!-- end .wrapper-attach -->
          
        	<div class="splitter"></div>

        	<h2>Donec imperdiet ultrices</h2>
          <p>Donec imperdiet ultrices felis vitae volutpat. Donec quis porta urna. Donec aliquet risus congue sem consequat vestibulum nec eget massa. Cras vitae velit at nisi dapibus imperdiet. Praesent at odio neque, et ornare sem.</p>

          <div class="wrapper-attach">
          	
            <p>Material adjunto</p>
            
            <div class="imageAttach">
              <img src="images/lavoz/image01.jpg" />
            </div><!-- .imageAttach -->
            
            <div class="imageAttach">
              <img src="images/lavoz/image03.jpg" />
            </div><!-- .imageAttach -->
            
            <div class="imageAttach">
              <img src="images/lavoz/image02.jpg" />
            </div><!-- .imageAttach -->
					</div><!-- end .wrapper-attach -->

        	<div class="splitter"></div>

        	<h2>Donec imperdiet ultrices</h2>
          <p>Donec imperdiet ultrices felis vitae volutpat. Donec quis porta urna. Donec aliquet risus congue sem consequat vestibulum nec eget massa. Cras vitae velit at nisi dapibus imperdiet. Praesent at odio neque, et ornare sem.</p>

					<div class="splitter"></div>

        </div><!-- end #lavoz -->
      
				<img src="images/banners/right1-coke.jpg" alt="Coca-Cola Argentina" />
				
				<img src="images/banners/right1-ferrari.jpg" alt="Ferrari" />
			</div><!-- end #otherContent -->
			
			<div class="clear"></div>
			
		</div><!-- end #wrapper-content -->
		
		<div id="wrapper-right">
    
    	<div id="module-loginRight">
      	<h3>Iniciar sesión</h3>
      	<p><select name="">
      	  <option>- Seleccione -</option>
      	</select></p>
        <p><input name="" type="text" value="Nombre de usuario" /></p>
        <p><input name="" type="password" value="contraseña" /></p>
        <p><input name="" type="submit" value="Aceptar" /></p>
        <p class="small">¿Olvidó su contraseña?</p>
        <p class="small">Registrarse</p>
      </div><!-- end #module-loginRight -->
    
			<img src="images/banners/sky-wii.jpg" alt="Nintendo Wii" />
			
			<img src="images/banners/sky-mcdnlds.jpg" alt="Mc Donalds Argentina" />
			
			<img src="images/banners/sky-guitar.jpg" alt="Guitar Hero 3" />
			
			<img src="images/banners/sky-iphone.jpg" alt="iPhone" />
			
		</div><!-- end #wrapper-right -->
		
		<div class="clear"></div>
		
	</div><!-- end #wrapper-body -->
	
	<div id="footer">
		<div id="menuFooter">
			<p>home | noticias | actualidad | política | deportes | economía | información general</p>
		</div><!-- end #menuFooter -->
		
		<p class="copy">Copyright 2010 - Zonales.com - www.zonales.com - info@zonales.com</p>
		
	</div><!-- end #footer -->
	
</div><!-- end #wrapper-web -->

</body>
</html>
