@charset "utf-8";
/* CSS content */

*{}

#zoneExtended{
	width:330px;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size:17px;
	border:0;
	padding:4px;
	color:#313131;
}

#content hr{
	border:0;
	border-top:1px solid #CCC;
	margin:20px 0 24px 0;
}

h2{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size:18px;
	color:#009cc9;
}

p{
	font-family: 'PT Sans Narrow', sans-serif;
	font-size:14px;
	color:#313131;
}

.col1 p{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size:13px;
	margin-bottom:8px;
	color:#009cc9;
}

p.images{
	margin:10px 0 12px 0;
	background:#e2e1e1;
}

p.cuerpo{
	margin-top:5px;
	line-height:18px;
}

p.autor{
	margin-top:10px;
	font-family: 'PT Sans', sans-serif;
	font-size:11px;
	color:#799a0a;
}

p.fecha{
	margin-top:5px;
	font-family: 'PT Sans', sans-serif;
	font-size:11px;
	color:#b4b4b4;
}

p.buttons{
	margin:10px 0 0 0;
	font-family: 'PT Sans', sans-serif;
	font-size:11px;
	color:#b4b4b4;
}

p.buttons a{
	color:#009cc9;
	text-decoration:none;
}

.comentarios p.comentario{
	color:#565757;
	line-height:17px;
}

.comentarios p.comentario a{
	color:#799a0a;
	text-decoration:none;
}

.comentarios hr{
	margin:10px 0 8px 0 !important;
}

.comentarios p .input_comment{
	width:100%;
	border:0;
	padding:2px;
	font-family: 'PT Sans Narrow', sans-serif;
	color:#666;
}

.contador{
	background:#e2e1e1;
}

.contador p{
	text-align:center;
	padding:2px;
}

#footer .padding10 p{
	color:#8bd6ec;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size:14px;
	line-height:18px;
}

#footer .padding10 p a{
	color:inherit;
	text-decoration:none;
}

#ordenar p{
	text-align:center;
	margin:auto;
	margin-bottom:-5px;
	background:#FFF;
	width:250px;

	font-family: 'PT Sans Narrow', sans-serif;
	color:#999;
	font-size:12px;
	text-transform:uppercase;
}

#ordenar p img{
	padding-bottom:2px;
	margin:0 5px 0 2px;
}

#ordenar p a{
	text-decoration:none;
	color:#009cc9;
}

#mainMenu p{
	text-align:center;
	padding:10px;
	margin-bottom:20px;
}

#mainMenu p a{
	color:inherit;
	text-decoration:none;
}

#mainMenu p a.active{
	background:#009cc9;
	padding:0 5px 0 5px;
	color:#FFF;
}

#verNuevos p{
	text-align:center;
	text-transform:uppercase;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size:17px;
	color:#009cc9;
}

#verNuevos p a{
	display:block;
	text-decoration:none;
	color:inherit;
}

#verNuevos p a img{
	padding:0 0 3px 4px;
}

#verMas p{
	text-align:center;
	text-transform:uppercase;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size:17px;
	color:#009cc9;
}

#verMas p a{
	display:block;
	text-decoration:none;
	color:inherit;
}

#verMas p a img{
	padding:0 0 3px 4px;
}