<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>ZCrawlSources</display-name>
    <servlet>
        <servlet-name>GetConfig</servlet-name>
        <servlet-class>org.zonales.crawlConfig.services.GetConfig</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetConfig</servlet-name>
        <servlet-class>org.zonales.crawlConfig.services.SetConfig</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateConfig</servlet-name>
        <servlet-class>org.zonales.crawlConfig.services.UpdateConfig</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetServiceURL</servlet-name>
        <servlet-class>org.zonales.crawlConfig.services.GetTestService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetType</servlet-name>
        <servlet-class>org.zonales.tagsAndZones.services.SetType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetType</servlet-name>
        <servlet-class>org.zonales.tagsAndZones.services.GetType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPluginTypes</servlet-name>
        <servlet-class>org.zonales.crawlConfig.services.GetPluginTypes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PublishConfig</servlet-name>
        <servlet-class>org.zonales.crawlConfig.services.PublishConfig</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveConfig</servlet-name>
        <servlet-class>org.zonales.crawlConfig.services.RemoveConfig</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTag</servlet-name>
        <servlet-class>org.zonales.tagsAndZones.services.GetTag</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetTag</servlet-name>
        <servlet-class>org.zonales.tagsAndZones.services.SetTag</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetZone</servlet-name>
        <servlet-class>org.zonales.tagsAndZones.services.GetZone</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetZone</servlet-name>
        <servlet-class>org.zonales.tagsAndZones.services.SetZone</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetZGram</servlet-name>
        <servlet-class>org.zonales.ZGram.services.SetZGram</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetZGram</servlet-name>
        <servlet-class>org.zonales.ZGram.services.GetZGram</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateZGram</servlet-name>
        <servlet-class>org.zonales.ZGram.services.UpdateZGram</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetConfig</servlet-name>
        <url-pattern>/getConfig</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetConfig</servlet-name>
        <url-pattern>/setConfig</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateConfig</servlet-name>
        <url-pattern>/updateConfig</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetServiceURL</servlet-name>
        <url-pattern>/getServiceURL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetType</servlet-name>
        <url-pattern>/setType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetType</servlet-name>
        <url-pattern>/getType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPluginTypes</servlet-name>
        <url-pattern>/getPluginTypes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PublishConfig</servlet-name>
        <url-pattern>/publishConfig</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveConfig</servlet-name>
        <url-pattern>/removeConfig</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTag</servlet-name>
        <url-pattern>/getTag</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetTag</servlet-name>
        <url-pattern>/setTag</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetZone</servlet-name>
        <url-pattern>/getZone</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetZone</servlet-name>
        <url-pattern>/setZone</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetZGram</servlet-name>
        <url-pattern>/setZGram</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetZGram</servlet-name>
        <url-pattern>/getZGram</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateZGram</servlet-name>
        <url-pattern>/updateZGram</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
